* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.smit-logo {
margin:0 28vw;
}

.wish {
    margin: 5% 0 0 0;
    text-align: center;
    color: #3370f5;
}

.click-btn {
    width: 18%;
    height: 40px;
    margin: 4vh 0 0 36vw;
    font-size: large;
    outline: none;
    border:0.5px solid #6ebd1f;
    background-color: #6ebd1f;
}

.click-btn:hover {
    border:0.5px solid  #baf085;
    background-color: #baf085;
    transition: 0.4s;
}

.submit-btn {
    width: 18%;
    height: 38px;
    margin: 0 0 0 36vw;
    font-size: large;
    outline: none;
    border:0.5px solid  #3370f5;
    background-color: #3370f5;
    color:white; 
}


.submit-btn:hover{
    border:0.5px solid #5487f7;
    background-color: #5487f7;
}